@{
    ViewData["Title"] = "Informacje o aplikacji";
}
<h2>@ViewData["Title"]</h2>
    <!--
<h3>@ViewData["Message"]</h3>
    -->
<p>Aplikacja Workers App umożliwia wprowadzanie pracowników, stanowisk oraz wypłat. Umożliwia także obliczenie pensji.</p>
