@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Hasło zostało zmienione";
}

<h2>@ViewData["Title"]</h2>
<p>
    Twoje hasło zostało zmienione. <a asp-page="./Login">Zaloguj się</a>.
</p>
